.for_background{
    height:100%;
    width: 100%;
    background: red;
}
.error{
    color: red;
}
.photo_user{
    height: 100px;
    width: 100px;
}
.pag{
    text-align: center;
    color: #0b05ff;
    font-size: 22px;
    letter-spacing: 5px;
}